#content, header, footer, article, nav {
  margin: 0 auto;
  width: 1000px
}

nav {
  width: 100%;
  margin: 0;
  color: #AAA;
}

nav ul li {
  display: inline;
  padding: 0 1px;
}

nav ul li a {
  display: inline-block;
  background: white;
  background: rgba(255,255,255,.8);
  background: rgba(0,0,0,.03);
  border:1px solid rgba(255,255,255,.7);
  border-bottom: 1px solid rgba(0,0,0,.07);
  padding: 5px 15px;
  color: #999;
  text-shadow: 1px 1px 1px #FFF;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-left-radius: 7px;
  border-radius-topright: 7px;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-right-radius: 7px;
  border-radius-topleft: 7px;
}

nav ul li a.selected {
  background: white;
  font-weight: bold;
  color: #555;
  border:1px solid rgba(0,0,0,.15);
  border-bottom: 1px solid white;
}

article {
  padding: 10px 20px;
  width: 960px; /* 1000 - ( 2 * 20 ) */
  background: white;
}

h2 {
margin-bottom: 1em;
}

table.data {
width: 100%;
cellspacing: 1px;
margin: 1em 0;
}

table.data th, table.data td {
padding: 4px 6px;
}

table.data th {
background: #DDD;
text-align: left;
color: #999;
border: 1px solid #CCC;
text-shadow: 1px 1px 1px #FFF;
}

table.data td {
background: white;
border: 1px solid #DDD;
font-size: 0.8em;
}

h2#user-details-username {
  padding-top: 5px;
  font-size: 1.5em;
  font-weigh: 700;
  display: inline;
  text-shadow: 0px 0px 9px #505050;
  filter: dropshadow(color=#505050, offx=0, offy=0)
}

ul#show-user-details {
  font-size: 0.8em;
  display: inline;
  padding-left: 20px;
}

ul#show-user-details li {
  list-style: none;
  display: inline;
  padding-right: 5px;
}

ul#show-user-details li + li {
  border-left: 1px solid #ccc;
  padding-left: 7px;
}

div#pagination {
  padding: 0px;
  margin: 0px;
  float: right;
}

div#pagination ul {
  display: block;
  margin-bottom: 10px;
}

li.item-page {
  color: #cccccc;
  text-align: center;
  position: relative;
  display: inline-block;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  font-weight: bold;
  background-color: #547DE9;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-shadow: 1px 1px 10px #cccccc;
  filter: dropshadow(color=#cccccc, offx=1, offy=1)
}

li.item-page:hover {
  background-color: #1A49C6;
}
