#content, header, footer, article, #admin-tabs {
    margin: 0 auto;
    width: 1000px
}

#admin-tabs {
    width: 100%;
    margin: 0;
    color: #AAA;
}

#admin-tabs ul li {
    display: inline;
    padding: 0 1px;
}

#admin-tabs ul li a {
    display: inline-block;
    background: white;
    background: rgba(255,255,255,.8);
    background: rgba(0,0,0,.03);
    border:1px solid rgba(255,255,255,.7);
    border-bottom: 1px solid rgba(0,0,0,.07);
    padding: 5px 15px;
    color: #999;
    text-shadow: 1px 1px 1px #FFF;
    -moz-border-radius-topright:     7px;
    -webkit-border-top-left-radius:  7px;
    border-radius-topright:          7px;
    -moz-border-radius-topleft:      7px;
    -webkit-border-top-right-radius: 7px;
    border-radius-topleft:           7px;
}

#admin-tabs ul li a.selected {
    background: white;
    font-weight: bold;
    color: #555;
    border:1px solid rgba(0,0,0,.15);
    border-bottom: 1px solid white;
}

table.data {
    width: 100%;
    border-spacing: 1px;
    margin: 0em 0;
}

table.data th, table.data td {
    padding: 4px 6px;
}

table.data th {
    background: #DDD;
    text-align: left;
    color: #999;
    border: 1px solid #CCC;
    text-shadow: 1px 1px 1px #FFF;
}

table.data td {
    background: white;
    border: 1px solid #DDD;
    font-size: 0.8em;
}

/**
 * Redefining tab selector style
 */
.ui-tabs {
  padding: 0px;
}

.ui-tabs .ui-tabs-nav {
  padding: 0px;
  margin: 0px;
  line-height: 0.6;
  border: 0px solid black;
  border-bottom: 1px solid black; /* #AED0EA */
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  background: none;
}

#admin-tabs ul li {
  padding: 0px;
  top: 0px;
}

#admin-tabs ul li,
#admin-tabs ul li a {  color: black;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
}

.ui-tabs {
  border-bottom: 1px solid black; /* #AED0EA */
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
}

.ui-tabs .ui-tabs-panel {
  padding: 0.5em 0.5em;
}

.ui-tabs-panel {
  font-size: 0.8em;
}