

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; General configuration
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
[app]
use_url_rewriting = true

; Must be writtable by the web server
upload_dir = "/var/fz_uploads"

; Must be writable by the web server
cache_dir = "/var/fz_cache"

; Max and initial lifetime of a file on the server
max_file_lifetime  = 20 
init_file_lifetime = 10

; Min/Max size of files hash codes
min_hash_size = 4
max_hash_size = 6

; Default langage when no translation exists for the user locale
default_locale = "en"

; Name of the class used to authenticate the user. Built-in handler are :
;  * Fz_Controller_Security_Cas       Log the user against a CAS server
;  * Fz_Controller_Security_Internal  Log the user with a built-in Controller.
;                                     This controller will check user/pass with
;                                     'login' method in the user factory.
auth_handler_class = Fz_Controller_Security_Internal

; Name of the class used to identify the user. Built-in factories are :
;  * Fz_User_Factory_Ldap
;  * Fz_User_Factory_Database
user_factory_class = Fz_User_Factory_Ldap

; Max disk spaced per user. Support shorthand format : M (Mega), G (Giga)
user_quota = "2G"

; This option allows users to require a valid login before the file can be
; accessed.
; Note: this option does not influence the requirement for a valid password
; Available modes are: 
; "on"      - offer login requirement option during file uploads
; "off"     - do not offer login requirement option during file uploads
; "force"   - login requirement is enabled globally and individually
              enabled during file uploads.
              If enabled the user has no choice to set uploaded files to
              require login. It is set automatically instead.
; "privacy" - disable login requirement but keep the requirement for files 
              (to protect and respect the user's choice of privacy)
login_requirement = "on"

; privacy mode setting decides if the user is required to set at least to
; require a login or a password for a file to be uploaded.
; TODO: this setting is not optimal but it is required to be available
; a.s.a.p. (31_05_2011), so implementation might change and improve in future.
privacy_mode = false

; this option handles to ability to autostart downloads.
; true: enable autostart of downloads, false: disable autostart of downloads 
; setting the option to fase can be useful in case a user
; does not want to download the file immediately or at all
autostart_download = true

; reporting allows users to notifiy the administration about a file
enable_reporting = true

; notification for soon expired files cannot be disabled, if set to true
force_notification = false

; the user must accept a defined user agreement before the upload can
; be accomplished
require_user_agreement = true

; Limit for file (max Downloads Counter)
downloadLimit = 5

; For which group is the downloadLimit valid
; 0 = for All Users
; 1 = for Unknown Users
downloadLimitOnlyForUnknownUsers = true

; both paramaters needed for strtotime()
; intervalCount = (int) e.G 2 
; intervalType = (String) Day, Week Year etc.)
; example:( this settings reset the Download limit every three days) 
; intervalCount = 3
; intervalType = Day

intervalCount = 1
intervalType = "Day"

; Autocomplete - does offer a list for certain input fields (depending on
; implementation) if enabled
enable_autocomplete = true

; Copy to clipboard adds a button using Adobe Flash to each uploaded file 
; and allows easy copying the URL to the clipboard
enable_copy_to_clipboard = true

; Do not allow files uploaded by a user who is locked to be downloaded at all 
disable_locked_user_files = false

; This is the time in seconds the user can execute actions that require a valid
; token to get the execution processed. The user will be faced an error
; message in case the token has expired. He will get a new valid token.
; Tokens are a method used to counter Cross Site Request Forgery attacks.
token_lifetime = 60

; Language strings are stored in gettext files.
; Enabling caching option might lead to improvement in access time
enable_caching = true

; Enabling content compression causes php to gzip / x-gzip the responses
; This option should only be considered if your web server does not
; automatically compress contents (e.g. apache mod_gzip / mod_deflate)
; and you have no administrative rights to enable it.
content_compression = false

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Logging
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
[logging]
; Must be writtable by the web server
log_dir = "/var/fz_log"

; Log activities (download, upload, extend, delete, preview, etc.)
log_activity = true

; Database table name for logging
log_db_table = "fz_log"

; Logging of sensitive data (On/Off)
log_username = true
log_ip = true

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Cron Job
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
[cron]
; Number of days before before sending the notification mail for deletion
days_before_expiration_mail = 2

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Look'n feel
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
[looknfeel]
; Logo image
your_logo               = "resources/images/uapv-logo.gif"

; Custom CSS
; custom_css              = "resources/css/custom.css"

; show filez credits at the bottom of the pages
show_credit = true

; Url where the user will find Filez documentation
help_url = help ; Relative or absolute

; Where does the user reports bug ?
bug_report_href = mailto:some-one@somewhere.com ; or http://your-bug-tracker.com

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Database configuration
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
[db]
dsn      = "mysql:host=localhost;dbname=filez"
user     = "filez"
password = "filez"


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Mail configuration
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
[email]
from_email="filez@univ-avignon.fr"
from_name="Filez"
host="smtp.univ-avignon.fr"
; auth=login ; possible values = crammd5, login, plain
; port=25
; username=user
; password=pwd


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Authentication configuration
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
[auth_options]
; Parameters for the CAS authentication handler.
cas_server_host = "cas.univ-avignon.fr"


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Identification configuration
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
[user_factory_options]
; Parameters passed to the Ldap user factory.
; Available parameters : http://framework.zend.com/manual/en/zend.ldap.api.html
host = "ldap.univ-avignon.fr"
useSsl = false
baseDn = "ou=people,dc=univ-avignon,dc=fr"
bindRequiresDn = true

; Parameters for the Database user factory
; db_use_global_conf    = false
; db_server_dsn         = "mysql:host=localhost;dbname=filez"
; db_server_user        = filez
; db_server_password    = filez
; db_table              = user
; db_password_field     = password
; db_username_field     = username
; db_password_algorithm = SHA1
; Possible algorithm are :
;   - MD5         (unsecure)
;   - SHA1        (unsecure)
;   - PHP Function name ex: "methodName"
;   - PHP Static method ex: "ClassName::Method"
;   - Plain SQL ex: "password=SHA1(CONCAT(salt, :password))"

[user_attributes_translation]
; In order to make the application schema agnostic with differents user storage
; facilities, each user attributes is translated from its original name to the
; application name. The syntax is as follow : application_name = original_name.
; This attributes are required by filez :
;  * firstname
;  * lastname
;  * email
;  * id
; Exemple for an Ldap repository :
firstname = "givenname"
lastname  = "sn"
email     = "mail"
id        = "uid"
